Maintainer: Brian
Name: uniOS Minimal Icons
Package: noshery.github.io.uniOS
Version: 1.3.3
Architecture: iphoneos-arm
Description: Minimalist white icons installed through Winterboard. Theme requires IconBundles tweak. Bigify tweak recommended to change icon size and opacity.
Section: Themes
Sponsor: noshery
