Maintainer: Brian
Name: Key Icons
Package: noshery.github.io.TextIcons
Version: 1.0.2
Architecture: iphoneos-arm
Description: 20 icons in Helevetica Neue. A-M right aligned, N-Z left aligned
Section: Themes
Sponsor: noshery
